* {
  margin: 0;
  padding: 0;
  border: 0 solid transparent;
}

#content{
  height: 100vh;
  border: 0.5px solid blue;
  display: flex;
  align-items: center;
  justify-content: center;
}

#wide-container{
  width: 2000px;
  display: flex;
  justify-content: center;
  /* border: black 0.5px solid; */
  background-color: deepskyblue;
}

#picture-frame{
  display: flex;
  overflow: hidden;
  /* padding:5px; */
  width: 400px;
  height: 300px;
  
}

/* .image{

  margin: auto;
} */


