* {
  margin: 0;
  padding: 0;
  border: 0 solid transparent;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#content{
  height: 100vh;
  border: 0.5px solid blue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#wide-container{
  width: 2000px;
  display: flex;
  justify-content: center;
  /* border: black 0.5px solid; */
  background-color: deepskyblue;
}

#picture-frame{
  display: flex;
  overflow: hidden;
  /* padding:5px; */
  width: 400px;
  height: 300px;
  border: red 0.5px solid;
 
 
  
}

#button-div{
  
  width: 400px;
  display: flex;
  justify-content: space-around;
}

.btn{
  height: 35px;
  width: 90px;
  margin: 5px;
  font-weight: bold;
  border-radius: 5px;
  box-shadow: 2px 2px 5px darkgrey;
}

.btn:hover{
  background-color: cadetblue;
}

.btn:active{
  transform:translateX(2px) translateY(2px);
}

